@import '~office-ui-fabric-react/dist/sass/_References.scss';
@import '~office-ui-fabric-core/dist/sass/variables/_Font.Variables.scss';

$box-border : 0px;



.listGridExampleTile {
  text-align: 'center';
  position: 'relative';
  float: 'left';
  border: $box-border gray solid
  //border:2px gray solid
  //background-color : palette.neutralLighter,
 /* selectors: {
    'focus:after': {
      content: '',
      position: 'absolute',
      left: 2,
      right: 2,
      top: 2,
      bottom: 2,
      boxSizing: 'border-box',
      border: `1px solid ${palette.white}`,
    },
  } */
}

.listGridExampleSizer {
  padding-bottom: 100%;
  background-color: red;
}

.listGridExamplePadder {
  position: absolute;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
  background-color:"[theme: themeDark, default: #005a9e]";
}

.listGridExampleImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%
}

.listGridExampleLabel {
  background: rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  position: absolute;
  padding: 10px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  font-size: $ms-font-size-12;
  box-sizing: 'border-box';
}




.reactWebPart {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    /* background-color: $ms-color-themeTertiary; */
    background-color: "[theme: themeDark, default: #005a9e]"; 
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}
